body {
  margin: 0;
}
.navigationContainer {
  position: fixed;
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  width: 100vw;
  padding: 15px 15px;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.logo {
  left: 15px;
  position: absolute;
}

.navItemsContainer {
  padding: 15px 15px;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.navItem {
  margin: 0px 15px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-size: 20px;

  cursor: pointer;

  position: relative;

  z-index: 100;
}

.navItem::before {
  content: "";
  width: 0%;
  transition: width 0.45s;
}

.navItem:hover {
  color: #8a100b;
}

.navItem[selected="false"]:hover::before {
  content: "";
  border: 1px solid #8a100b;
  bottom: -5px;
  position: absolute;
  width: 100%;
  transition: width 0.45s;
}

.navItem[selected="true"] {
  margin: 0px 15px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  color: #dccaa0;
  font-size: 20px;
}

.bannerContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("../src/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 500px black inset;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 100px;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 500;
  padding-top: 150px;
  color: white;
}

#subTitle {
  text-align: center;
  font-size: 54px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 300;
  margin: 0;
  color: #dccaa0;
}

.Typewriter__cursor {
  color: white;
}

.waveContainer {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
}

.wave1 {
  position: absolute;
  right: 0;
  max-width: 15%;
}

.wave2 {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: -150px;
  max-width: 15%;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 500px;
  width: 100%;
}

.gasson {
  margin-bottom: -20px;
}

.emailInput {
  padding: 10px 35px;
  border-radius: 35px;
  border: 4px solid #dccaa0;
  background-color: white;
  font-size: 20px;
  outline: none;
}

.joinBtn {
  background-color: #dccaa0;
  padding: 8px 45px;
  color: white;
  border: 0px;
  border-radius: 40px;
  margin-top: 15px;
  font-size: 22px;
}

.joinBtn:hover {
  cursor: pointer;
}
